{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"useTabs": false,
	"arrowParens": "always",
	"printWidth": 80,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
